body{
    font-family: "Bitter", serif;
    background: #dfe7ef;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.music-player{
   margin-top: 5em; 
   background: #eef3f7;
   width: 410px;
   height: 570px;
   border-radius: 4%;
   box-shadow: 0 15px 35px -5px rgba(50, 88, 130, 0.32);
}
.imgdiv{
    height: 310px;
    width: 335px;
    box-shadow: 15px 25px 15px -5px rgba(55, 88, 130, 0.6); 
    position: relative;
    top: 30px;
    left: -10%;
    border-radius: 5%;
}
.images{
    height: 310px;
    width: 335px;
    border-radius: 5%;
}
.artist-info{
    margin-left: 1.3em;
    margin-top: 3.8rem;
    line-height: 1;
}
.artist-info h2{
    color: #535f70;
    font-weight: 900; 
}
.artist-info h3{
    color: #71829e;
    font-weight: 300;
}
.music-player h4{
    color: #535f70;
    font-weight: 900;
}
.audiobtndiv{
    position: relative;
}
.btns{
    position: absolute;
    bottom: 90px;
    left: 70%;
}
.top{
    margin-left: 310px;
    margin-bottom: 2px;
}
.bottom{
    margin-top: 2px;
    margin-left: 20px;
}
.btndiv{
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnfix{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.btndiv:hover{
    transform: scale(1.5);
    transition: transform 0.4s ease-out;
}
.anchor{
   margin-left: 16px;
}
.btnimg{
    height: 35px;
    width: 35px;
    filter: opacity(0.3) drop-shadow(0 0 0 blue);
}
.giantbtn:hover{
    transform: none;
}
.largebtn{
    height: 90px;
    width: 90px;
    position: relative;
    left: 7%;
}
input[type=range] {
    box-sizing: border-box;
    width: 85%;
    margin-left: 20px;
    filter: opacity(0.3) drop-shadow(0 0 0 grey);
}

/* #532ab9
#acb8cc #71829e; */
